/*
 * Styling the Box widget
 */
.box-widget {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow: hidden;
    margin: 0px;
}

.box-widget.horizontal {
    flex-direction: row;
    width: 100%;
}

.box-widget.vertical {
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.box-child {
    box-sizing: border-box;
}
