/*
 * Styling the Splitter widget
 */
.splitter {
    display: flex;
    background-color: #EAEAEA;
    margin: 0;
    border: 2px outset green;
    overflow: hidden;
}

.splitter.horizontal {
    flex-direction: row;
    height: 100vh;
}

.splitter.vertical {
    flex-direction: column;
    width: 100vw;
}

.splitter-handle {
    display: flex;
    justify-content: center;
    background-color: #ccc;
/*  border-width: 0px; */
    border: 1px solid #808080;
    box-sizing: border-box;
}

.splitter-handle.horizontal {
    flex-direction: column;
    cursor: ew-resize;
    width: 8px;
    height: 100%;
}

.splitter-handle.vertical {
    flex-direction: row;
    cursor: ns-resize;
    height: 8px;
    width: 100%;
}

.splitter-pane {
    overflow: hidden;
    border: 0px;
    padding: 2px;
}
